@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  position: absolute;
  z-index: -1;
  padding: none;
  background-color: #264653;
}

p {
  padding-left: 50px;
  padding-right: 50px;
  position: static;
}

#particleContainer {
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#tbox {
  z-index: 1000;
  color: black;
  position: absolute;
  background-position: center;
  width: 500px;
  height: 100px;
  /* opacity: 30%; */
  border-radius: 5pt;
  background-color: #e9c46a;
}

#titleContainer {
  text-align: right;
  color: black;
  /* opacity: 95%; */
  width: 30vw;
  bottom: 30%;
  left: 10%;
  position: absolute;
  z-index: 10;
  animation: 3s fadeIn;
}

#title {
  float: right;
  color: black;
  position: relative;
  font-size: 10vw;
  bottom: 25%;
  left: 5%;
  font-family: 'Alfa Slab One', cursive;
}

#descriptor {
  float: right;
  position: relative;
  color: black;
  font-size: 1.3vw;
  top: -20%;
  left: 5%;
}

#middleLeft {
  z-index: 0;
  bottom:0;
  left:0;
  /* opacity: 90%; */
  position: absolute;
  border-style: solid;
  border-width: 100vh 0 0 100vw;
  border-color: transparent transparent transparent #e76f51;
  animation: 3s ease-out 0s 1 slideInFromLeft;
}

#bottomLeft {
  z-index: 0;
  bottom:0;
  left:0;
  opacity: 90%;
  position: absolute;
  border-style: solid;
  border-width: 50vh 0 0 50vw;
  border-color: transparent transparent transparent #e9c46a;
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

#topRight {
  z-index: 0;
  color: black;
  top: 0;
  right:0;
  text-align: right;
  border-width: 0 30vw 30vh 0;
  opacity: 90%;
  position: absolute;
  border-style: solid;
  border-color: transparent #2a9d8f transparent transparent ;
  animation: 3s ease-out 0s 1 slideInFromRight;
}

#aboutContainer {
  top: 100vh;
  position: absolute;
}

#aboutLeft {
  z-index: 1;
  left: 0;
  height: 100vh;
  width: 50vw;
  color: #2a9d8f;
  background-color: #264653;
  /* opacity: 90%; */
  float: left;
}

#aboutRight {
  z: 1;
  left: 50vw;
  height: 100vh;
  width: 50vw;
  /* opacity: 10%; */
  color: #264653;
  background-color: #2a9d8f;
  background-size: contain;
  float: right;
}

#sampleText {
  font-size: 5vh;
}
