.App {
  text-align: center;
}

nav {

}

h1 {
  color: rgba(255, 186, 8, 0.9);
  font-size: 100px;
  z-index: 1000;
  /* background-position: center; */
}

body {
  background-color: #003049;
  transition: opacity 0.5s;
  opacity: 1;
  background-size: auto;
  height: 100%;
}

ul {
  position: absolute;
  top: 0;
  right: -10vh;
}

li {
  list-style-type: none;
  padding-top: 10px;
}
